body{
margin: 0em;
background-color: #f7f7f7;

}
nav {
background-color: #272727; 
}

header{
margin: 0em;
float: left;
padding: 0 0 0 0;
background-color: #272727; 
width: 100%;
}
nav ul {
list-style: none;
display: block;
margin: 0 10px;
padding: 0;
width: 100%;
height: 10em;
vertical-align: middle;
}

nav li{
width: 7em;
text-align: center;
display: inline-block;
margin: 1em;
margin-top: 3.5em;
height: 10em;
vertical-align: middle;
}
nav li a {
color: #ffffff;
text-decoration: none;
float: left;
font-family: "Raleway",sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 200;
font-variant: normal;
height: 10em;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: center;
vertical-align: middle;
}

#leftlinks h2, #rightlinks h2{
vertical-align: middle;
display:inline-block;
}

#leftlinks h2:hover, #rightlinks h2:hover{
border-bottom: thin solid #ffffff;
}



#leftlinks{
vertical-align: middle;
height: 10em;
float: left;
margin-right:2em;
margin-left:2em;
vertical-align: middle;

}
#logo{
text-align: center;
display: block;
height: auto;
}

#logophoto{
width: 150px;
height: 150px;
max-width: 100%;
}

#rightlinks{
display:inline-block;
float: right;
margin-right:2em;
margin-left:2em;
padding-right: 0em;
}



.bodything {
width: 100%;
float:left; 
height: 50em;
background-color: #f7f7f7;
}

#davidphoto img{
border-radius:100px;
margin-left: auto;
margin-right: auto;
display: inline-block;
max-width: 100%;
}

#davidphoto{
margin-top:4em;
height: auto;
margin-left: auto;
margin-right: auto;
text-align: center;
}
#hello{
margin-top:1em;
text-align: center;
font-family: "Vito",sans-serif;
color: #888;
font-size: 30px;
line-height: 1.73333;
font-weight: 300;
}
#secondline{
font-size: 24px;
text-align: center;
}
#footer{
margin-top:1em;
text-align: center;
font-family: "Vito",sans-serif;
color: #888;
font-size: 18px;
    line-height: 1.73333;
    font-weight: 300;
}


#aboutmetext{
text-align: center;
font-family: "Vito",sans-serif;
color: #888;
font-size: 30px;
line-height: 1.73333;
font-weight: 300;
display:inline-block;
border-bottom: thin solid #888;
padding-bottom:2px;
margin-right: 2.5em;
   
    }
    
.about_first{
width: 40%;
float:left;
text-align:center;
}

.about_second{
margin-top: 2em;
width: 60%;
float:right;
text-align:center;
}

#leftabout{
display: inline-block;
text-align: center;
}

#aboutdavidphoto{
margin-top: 4em;
max-width: 100%;
height: auto;
}

.fullscreenabout:after{
	content:"";
	display: table;
	clear: both;
}


#aboutmerest{
float: left;
text-align: left;
font-family: "Vito",sans-serif;
color: #888;
font-size: 18px;
line-height: 1.73333;
font-weight: 300;
margin-right: 5em;
}

#aboutmerest a{
font-family: "Vito",sans-serif;
color: #4A90E2;
font-size: 18px;
line-height: 1.73333;
text-decoration: none;
}

#caption{
font-family: "Vito",sans-serif;
color: #888;
font-size: 14px;
line-height: 1.73333;
font-weight: 300;
}

#exptext{
font-family: "Vito",sans-serif;
color: #4a4a4a;
font-size: 30px;
line-height: 1.73333;
font-weight: 300;
display:inline-block;
border-bottom: thin solid #4a4a4a;
padding-bottom:2px;
margin-right: 2.5em;
}

#workingsec{
display:block;
margin-top: 1em;

}

#workheader{
text-align: left;
font-family: "Vito",sans-serif;
color: #4a4a4a;
font-size: 20px;
line-height: 1.73333;
font-weight: 300;
margin-left: 2em;
}

#workid{
text-align: left;
font-family: "Vito",sans-serif;
color: #888;
font-size: 16px;
line-height: 1.73333;
font-weight: 300;
margin-left: 2.5em;
}

#workbody{
text-align: left;
font-family: "Vito",sans-serif;
color: #888;
font-size: 16px;
line-height: 1.73333;
font-weight: 300;
margin-left: 2.5em;
margin-right: 5em;
}

#dukie2{
font-family: "Vito",sans-serif;
color: #4A90E2;
font-size: 16px;
text-decoration: none;
}
.exp_first{
padding-top: 1.5em;
width: 60%;
float:left;
text-align:center;
height: 100%;
padding-bottom: 5em;
}

.exp_second{
padding-top: 1.5em;
width: 40%;
float:right;
text-align:center;
height: 100%;
}

.buttonlist1{
margin-left: 3em;
list-style-type: none;
float: left;
}
#list1, #list2{
list-style-type: none;
}

.buttonlist2{
list-style-type: none;
float: left;
margin-left: 3em;

}

#listspace{
	padding-right: 0.3em;
}

#centertext{
	vertical-align: middle;
}

#phototext{
font-family: "Vito",sans-serif;
color: #4a4a4a;
font-size: 112.5%;
line-height: 1.73333;
font-weight: 300;

}

#exptext{
display: inline-block;
}

#workicon{
padding-bottom: 1em;
max-width: 100%;
}



#footer img{
	width: 30px;
	height: 30px;
}


}
#block{
	display: block;
	overflow: hidden;
}





.contactleft{
width: 50%;
float:left;
text-align:center;
padding-top: 2em;
}

.contactright{
padding-top: 2em;
width: 50%;
float: right;
margin-left: auto;
margin-right: auto;
}

#contacttext{
font-family: "Vito",sans-serif;
color: #4a4a4a;
font-size: 30px;
line-height: 1.73333;
font-weight: 300;
}

#contactinfo1{
	text-align: center;
}

#yantext{
font-family: "Vito",sans-serif;
color: #888;
font-size: 24px;
font-weight: 300;
}

#yantext2{
font-family: "Vito",sans-serif;
color: #888;
font-size: 20px;
font-weight: 300;
text-decoration: none;
}

#namebox{
	width: 16em;
	height: 3em;
}
#namebox2{
	width: 20em;
	height: 6em;
}




#contactrightstuff{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
}

#contactleftstuff{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
}


@media screen and (max-width: 900px){
	.contactleft, .contactright{
		float: none;
		width: auto;
	}
}

@media screen and (max-width:480px){
	.about_first, .about_second{
		float: none;
		width: auto;
	}

}

@media screen and (max-width:600px){
	.exp_first, .exp_second{
		float: none;
		width: auto;
	}

}



@media screen and (max-width: 920px){
	#logo,#logophoto{
		display: none;
	}
	nav ul li {
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}
	nav ul li a{
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		display: block;
		height: 100%;
		width: 100%;
	}
	#rightlinks{
		margin-left: 0;
		margin-right: 0;
		width: 50%;
	}
	#rightlinks li {
		width: 45%; 
		}
		#leftlinks li {
		width: 45%; 
		}
	#leftlinks{
		margin-left: 0;
		margin-right: 0;
		width: 50%;
		}
	
}
